@import './variables';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Kollektif", sans-serif !important;
}

.logo{
    font-family: K2D, sans-serif !important;
}

.c-pointer{
    cursor: pointer;
}

.c-none{
    cursor: default;
}

.disabled{
    background-color:grey;
    color : #C0C0C0;
    opacity : 0.1;
}

@import './navbar';
@import './auth';
@import './home';
@import './spareparts';
@import './cart';
@import './maintenance';
@import './tracking';
